# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\桌面文件\goProject\ini\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
